<a href="https://colab.research.google.com/github/LuisaRodriguezC/Clase-1/blob/main/Trabajo_Corrupcion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Libraries 

import numpy as np
import pandas as pd
import plotly.express as px

In [24]:
# Save the path o the file

p = '/content/Corrupcion DATA.xlsx'

# Read the file
d = pd.read_excel(p)

# Check 
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Code       241 non-null    object
 1   Country    241 non-null    object
 2   Region     241 non-null    object
 3   Subregion  241 non-null    object
 4   Category   241 non-null    object
 5   Year       241 non-null    int64
 6   VALUE      241 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 13.3+ KB

In [8]:
# Check first entries
d.head()

,Code,Country,Region,Subregion,Category,Year,Value
0,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2015,32.061216
1,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2016,17.985612
2,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2017,78.595756
3,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2018,24.926778
4,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Corruption: Bribery,2019,0.000000

In [9]:
#Check the last entries
d.tail()

,Code,Country,Region,Subregion,Category,Year,Value
236,USA,United States of America,Americas,Northern America,Burglary,2015,494.767001
237,USA,United States of America,Americas,Northern America,Burglary,2016,469.450441
238,USA,United States of America,Americas,Northern America,Burglary,2017,429.734082
239,USA,United States of America,Americas,Northern America,Burglary,2018,376.066663
240,USA,United States of America,Americas,Northern America,Burglary,2019,339.659423

# **3. Cleaning**

In [ ]:
## Column Names

In [25]:
# Change time for year 
d.rename(columns = {"VALUE":"percentage"}, inplace=True)

#check 
d.head()

,Code,Country,Region,Subregion,Category,Year,percentage
0,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2015,32.061216
1,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2016,17.985612
2,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2017,78.595756
3,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Burglary,2018,24.926778
4,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Corruption: Bribery,2019,0.000000

# Delete Columns

In [11]:
d = d.drop(columns = ['Subregion'])
d.head()

  Code              Country    Region             Category  Year      Value
0  ATG  Antigua and Barbuda  Americas             Burglary  2015  32.061216
1  ATG  Antigua and Barbuda  Americas             Burglary  2016  17.985612
2  ATG  Antigua and Barbuda  Americas             Burglary  2017  78.595756
3  ATG  Antigua and Barbuda  Americas             Burglary  2018  24.926778
4  ATG  Antigua and Barbuda  Americas  Corruption: Bribery  2019   0.000000

# A few more things

In [14]:
#(Optional) Duplicate the dataframe
dd = d

In [16]:
# Duplicate year variable 
dd["Year_str"] = dd["Year"].astype(str)

# Check
d.head()

,Code,Country,Region,Category,Year,Value,Year_str
0,ATG,Antigua and Barbuda,Americas,Burglary,2015,32.061216,2015
1,ATG,Antigua and Barbuda,Americas,Burglary,2016,17.985612,2016
2,ATG,Antigua and Barbuda,Americas,Burglary,2017,78.595756,2017
3,ATG,Antigua and Barbuda,Americas,Burglary,2018,24.926778,2018
4,ATG,Antigua and Barbuda,Americas,Corruption: Bribery,2019,0.000000,2019